.surprise {
    text-align: center;
    background-color: #000;
    color: #f7b500;
    padding: 20px;
  }
  
  .cake-image {
    width: 80%;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .video-container {
    margin-top: 20px;
  }
  